In [20]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import utils

In [2]:
engine = utils.pg_engine()
query = utils.read_sql('query.sql')

df = pd.read_sql(query, engine)

In [3]:
df.head()

,produto,pronome,att,op_aberta
0,726.0359.OOO,TUBILINE ARA +LED 32W 4000K 1220MM NATURAL ...,False,False
1,726.0538.ZOO,TUBILINE FROST PEND VERTICAL T8 5000K 1220MM C...,False,False
2,726.0735.ZOO,TUBILINE MINI SOB/ARA DEST 34+14° 16W 3000K 4M...,False,True
3,726.0759.ZOO,TUBLINE MINI SOB/ARA DEST 34ºX14º 24W 2700K 3M...,False,False
4,726.0741.AOO,TUBILINE SOB/ARA DF 24W 3000K 3MOD 220V DRV IN...,False,True

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   produto    349 non-null    object
 1   pronome    349 non-null    object
 2   att        349 non-null    bool
 3   op_aberta  349 non-null    bool
dtypes: bool(2), object(2)
memory usage: 6.3+ KB

In [18]:
teste = df.groupby(['att']).count().reset_index()

teste.head()

     att  produto  pronome  op_aberta
0  False      342      342        342
1   True        7        7          7